@import "../../scss//shared.scss";

.Container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include for-size(tablet) {
    width: 768px;

    @include for-size(desktop) {
      width: 1100px;
    }
  }
}

// @media screen and (min-width: 480px) {
//   .Container {
//     width: 480px;
//   }
// }

// @media screen and (min-width: 768px) {
//   .Container {
//     width: 768px;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .Container {
//     width: 1200px;
//   }
// } ;
