@import "../../scss/shared.scss";

.form-wrapper {
  width: 460px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: $blue-bg-form;
  border-radius: 5px;

  @include for-size(tablet) {
    width: 750px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  @include for-size(desktop) {
    width: 850px;
  }
}

.form-rental {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-size(tablet) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.form-rental label {
  font-size: 16px;
}

.form-rental input,
.form-rental select {
  height: 35px;
  margin-top: 8px;

  @include for-size(tablet) {
    height: 35px;
    margin-top: 5px;
  }
}

.form-rental-title {
  text-align: center;
  margin: 12px 0;
}

.form-label-name,
.form-label-type,
.form-label-price {
  display: flex;
  flex-direction: column;

  @include for-size(tablet) {
    margin-right: 20px;
  }

  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.form-label-type,
.form-label-price {
  margin-top: 8px;
}

.input-price {
  @include for-size(mobile-only) {
    margin-bottom: 12px;
  }
}

.select-type {
  width: 196px;

  @include for-size(tablet) {
    width: 120px;
  }
}

.button-submit {
  background-color: $green-bg-btn;
  transition: background-color $transition;
  margin-top: 20px;
}

.button-submit:hover {
  background-color: $green-bg-btn--active;
}
