@import "../../scss/shared.scss";

.form-wrapper {
  width: inherit;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: $white;
  border-radius: 5px;
  background-repeat: no-repeat;

  @include for-size(tablet) {
    padding-bottom: 40px;
  }
}

.form-rental {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-size(tablet) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.form-rental label {
  font-size: 18px;
}

.form-rental input,
.form-rental select {
  height: 50px;
  margin-top: 8px;

  @include for-size(tablet) {
    margin-top: 5px;
  }
}

.form-rental-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  padding: 25px 0;
  margin-bottom: 12px;

  color: $gray-title-color;
}

.form-label-name,
.form-label-type,
.form-label-price {
  display: flex;
  flex-direction: column;

  @include for-size(tablet) {
    margin-right: 20px;
  }

  @include for-size(desktop) {
    margin-right: 40px;
  }
}

.form-label-price {
  @include for-size(tablet) {
    margin-right: 50px;
  }
  @include for-size(desktop) {
    margin-right: 80px;
  }
}

.form-label-type,
.form-label-price {
  margin-top: 8px;
}

.input-price {
  @include for-size(mobile-only) {
    margin-bottom: 12px;
  }
}

.input-name,
.input-price,
.select-type {
  width: 250px;
  padding-left: 5px;
  border-radius: 6px;
  // border: none;
  // border-bottom: 2px solid black;
  background-color: $white;

  @include for-size(tablet) {
    width: 150px;
  }

  @include for-size(desktop) {
    width: 220px;
  }
}

.select-type {
  padding-left: 2px;
}

.button-submit {
  background-color: $green-bg-btn;
  transition: background-color $transition;
  margin-top: 20px;
}

.button-submit:hover {
  background-color: $green-bg-btn--active;
}
