@import "../../scss/shared.scss";

.available-section-title {
  text-align: center;
  font-size: 28px;
  margin: 24px 0;

  text-transform: uppercase;
  color: $gray-title-color;
}

.available-list {
  width: 480px;
  margin: 0 auto 60px;

  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 800px;
  }
}

.available-list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;
  border-radius: 6px;
  background-color: $primary-item-bg-color;

  @include for-size(tablet) {
    justify-content: space-between;
  }
}

.available-list-item:not(:last-child) {
  margin-bottom: 25px;
}

.available-buttons-wrapper {
  display: flex;
}

.available-bike-data {
  font-size: 16px;
  font-weight: 500;
  width: 180px;
  margin-left: 30px;
  word-wrap: break-word;

  @include for-size(tablet) {
    font-size: 20px;
    width: 10px;
  }

  @include for-size(tablet) {
    width: 380px;
  }
}

.button-delete,
.button-rent {
  transition: background-color $transition;
}

.button-delete {
  background-color: $red-bg-btn;
  margin-left: 20px;

  @include for-size(tablet) {
    margin-left: 30px;
  }
}

.button-delete:hover {
  background-color: $red-bg-btn--active;
}

.button-rent {
  background-color: $blue-bg-btn;
}

.button-rent:hover {
  background-color: $blue-bg-btn--active;
}

.time-rent-block,
.count-price-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 35px;
  padding-bottom: 8px;
  // border-bottom: 0.5px solid $gray-border-line;
}

.count-price-block {
  margin-top: 0;
  margin-bottom: 40px;
}

.passed-time-capture,
.total-price-capture {
  margin-bottom: 8px;
}

.buttons-block {
  display: flex;
  justify-content: center;
}

.button-continue-rent {
  margin-right: 30px;
}
