@import "../../scss/shared.scss";

.modal-backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 450px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  @include for-size(tablet) {
    width: 520px;
    height: 400px;
  }
  @include for-size(desktop) {
    width: 520px;
    height: 400px;
  }
}
