@import "../../scss/shared.scss";

.rental-section {
  //
}

.rental-section-title {
  text-align: center;
  font-size: 28px;
  margin: 24px 0;

  text-transform: uppercase;
  color: $gray-subtitle-color;
}

.rental-list {
  width: 480px;
  margin: 0 auto;

  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 800px;
  }
}

.rental-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-item-bg-color;
  border-radius: 6px;
  padding: 12px 0;
}

.rental-list-item:not(:last-child) {
  margin-bottom: 25px;
}

.rental-list-item:last-child {
  margin-bottom: 40px;
}

.rental-bike-data {
  font-size: 16px;
  font-weight: 500;
  width: 180px;
  word-wrap: break-word;

  @include for-size(tablet) {
    font-size: 20px;
    width: 10px;
  }

  @include for-size(tablet) {
    width: 380px;
  }
}

.button-count-rent {
  background-color: $red-bg-btn;
  transition: background-color $transition;
  margin-left: 30px;

  @include for-size(tablet) {
    // margin-left: 75px;
  }
  @include for-size(desktop) {
    // margin-left: 105px;
  }
}

.buttons-block {
  display: flex;
}

.button-stop-rent {
  background-color: $red-bg-btn;
}

.button-count-rent:hover,
.button-cancel-rent:hover,
.button-stop-rent:hover {
  background-color: $red-bg-btn--active;
}

.button-continue-rent {
  background-color: $blue-bg-btn;
}

.button-continue-rent:hover {
  background-color: $blue-bg-btn--active;
}

.start-rent-time {
  font-size: 16px;
  font-weight: 500;

  @include for-size(tablet) {
    font-size: 18px;
    margin-right: 35px;
  }
}

.start-rent-capture {
  font-size: 18px;
  margin-right: 12px;
}

//Modal
