@import "../../scss/shared.scss";

.header {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
}

.header-title {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  color: $gray-title-color;
  @include for-size(tablet) {
    font-size: 40px;
  }
}

.icon-logo {
  position: absolute;
  top: 6px;
  left: 10px;
  height: 42px;
  width: 42px;
}
