$white: #ffffff;

$gray-bg-body: #dadada;
$blue-bg-form: #a9a5b9;
$green-bg-btn: #105040;
$green-bg-btn--active: #2a8653;
$red-bg-btn: #862424;
$red-bg-btn--active: #db3434;
$blue-bg-btn: #372c6c;
$blue-bg-btn--active: #6149db;
