$white: #ffffff; //* just white
$gray-border-line: #dadada; //* color for header border line
$gray-bg: #ebeaff; //* bakkground for body
$green-bg-btn: #105040; //* background button for submit form
$green-bg-btn--active: #2a8653; //* background button for submit form on hover
$gray-title-color: #464242; //* title color
$gray-subtitle-color: #312828; //* subtitle color
$gray-label-color: #988282; //* gray lable color
$red-bg-btn: #862424; //* background delete button
$red-bg-btn--active: #db3434; //* background delete button on hover
$blue-bg-btn: #372c6c; //* background rent button
$blue-bg-btn--active: #6149db; //* background rent button on hover
$available-list-item-color: #e0e0e0; //* available list item color
