@import "../../scss/shared.scss";

.banner {
  height: 500px;

  background-image: url("../../img/banner.jpg");
  background-position: top 50% left 30%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $white;
}
